

.navbar {
    display: flex; /* Use flexbox for the navbar layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    height: 100%;
    width: 0; /* Navbar is hidden initially */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    box-sizing: border-box;
    border-right: 2px solid #C3C3C3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow-x: hidden;
    transition: 0.5s; /* Smooth transition for opening/closing */
    padding-top: 60px; /* Adjust based on your needs */
}

.navbar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.3s;
}

.navbar a:hover {
    color: #f1f1f1;
}

.navbar.visible {
    width: 20%; /* Width of the navbar when it's visible */
}

.burger {
    position: fixed;
    top: 2%;
    left: 2%; /* Burger icon starts on the left */
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.5s ease; /* Slower transition */
}

.navbar-header{
    color: black;
    position: absolute;
    font-family: 'Playfair Display';
    font-style: normal;
    top:0%;
    width: 90%;
}

.list-header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items vertically center */
    justify-content: space-between; /* Distribute space evenly between items */
    width: 90%;
    border-top:3px solid #C3C3C3 ;
    margin-top: 10px;
    height: 10%;
}

.team-header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items vertically center */
    justify-content: space-between; /* Distribute space evenly between items */
    width: 90%;
    height: 10%;
    border-top:3px solid #C3C3C3 ;
    margin-bottom: 10px;
}


.my-list{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    color: #B573ED;
    left: 0;
}


.add-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B573ED;
    background: rgba(181, 115, 237, 0.4); /* RGBA color with 40% opacity */
    border-radius: 5px; /* Example border radius */
    font-size: 20px;
    top: 2px;
    font-weight: bold;
    width: 15%;
    height: 60%;
    cursor: pointer;
}

.list-item{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center; /* Align items vertically center */
    justify-content: space-between; /* Distribute space evenly between items */
    width: 90%;
    height: 10%;

}

.last-list-item{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center; /* Align items vertically center */
    justify-content: space-between; /* Distribute space evenly between items */
    width: 90%;
    height: 10%;
    margin-bottom: 100px;
}

.add-icon-list{
    display: flex;
    color: #5577FF;
    background: rgba(85, 119, 255, 0.4); /* RGBA color with 40% opacity */
    border-radius: 5px; /* Example border radius */
    font-size: 20px;
    top: 2px;
    font-weight: bold;
    width: 15%;
    height: 60%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.list-icon{
    color: #5577FF;
    background: rgba(85, 119, 255, 0.4); /* RGBA color with 40% opacity */
    border-radius: 5px; /* Example border radius */
    font-size: 20px;
    padding: 5px;
    margin-right: 7px;
    font-weight: bold;
}

.list-item-paragraph{
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 600;
    font-size: 13px;
    color: #33539E;
    font-family: 'Podkova';

}

.team-list{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    width: 90%;
    height: 10px;
    justify-content: space-between;
}

.team-icon{
    background: rgba(85, 119, 255, 0.4); /* RGBA color with 40% opacity */
    color: black;
    border-radius: 5px;
    font-size: 20px;
    padding: 6px;
    margin-right: 5px;
    margin-left: 10px;
    width: 25px;
    font-family: 'Podkova';
    font-style: normal;
}

.minicapstone{
    font-family: 'Podkova';
    font-style: normal;
    color: #5577FF;
    font-size: 13px;
    font-weight: 600;
}

.logo{
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Maintain aspect ratio */
}

.chat{
    font-family: 'Podkova';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #000000;
    background: rgba(195, 195, 195, 0.5);
    border-radius: 10px;
    width: 55%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 20px;
    cursor:pointer;
    margin-left: 10px;
}

.sprints{
    font-family: 'Podkova';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    border: 1px solid #5577FF;
    border-radius: 10px;
    width: 55%;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    margin-left: 10px;


}

.more-icon{
    color:#929292;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.add-icon-round{
    display: flex;
    align-items: center;
    background: rgba(85, 119, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    padding: 5px;
    border-radius: 30px;
    height: 50%;
    width: 15px;
    justify-content: center;
    cursor: pointer;
}

.add-icon-list-minicapstone{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5577FF;
    background: rgba(85, 119, 255, 0.4); /* RGBA color with 40% opacity */
    border-radius: 5px; /* Example border radius */
    font-size: 20px;
    top: 2px;
    font-weight: bold;
    width: 15%;
    cursor: pointer;

}

.bottom-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

.username {
    margin-right: 10px; /* Adjust the margin between the username and icons */
}

.icon-container {
    display: flex;
}

.icon {
    margin-left: 10px; /* Adjust the margin between the icons */
}

.bottom-div {
    position: absolute;
    bottom: 0;
    width: 85%; /* Adjust width to maintain side-width balance */
    height: 42px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Add padding if needed */
    background-color: #f1f1f1; /* Add background color if needed */
    margin-bottom: 15px;
}

